# Node modules
node_modules/

# Env files
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Temporary files
.tmp/
.temp/
.cache/

# Editor settings
.vscode/
.idea/
*.swp


serviceAccountKey.json

serviceaccount.json

get-test-token.js

api-tests.http
